[Unit]
Description=OSConfig Agent Daemon
After=network-online.target
Wants=network.target network-online.target nss-lookup.target
# Allow restart up to 3 times every 16 minutes (3 times x 5 minutes + 1 minute)
StartLimitIntervalSec=960
StartLimitBurst=3

[Service]
# Uncomment and use next two lines to run OSConfig with a manual connection string loaded from a file
# Environment=CONN_STR="/etc/osconfig/osconfig.conn"
# ExecStart=/usr/bin/osconfig $CONN_STR
# Uncomment and edit next line to configure OSConfig with a proxy to connect to the IoT Hub
# Environment="http_proxy=http://user:password@wwww.foo.org:100//"
ExecStart=/usr/bin/osconfig
Type=simple
User=root
Restart=always
# Allow restart at 5 minutes intervals
RestartSec=300

[Install]
WantedBy=multi-user.target
