[Unit]
Description=OSConfig Management Platform Daemon
After=osconfig.target
Wants=osconfig.target

[Service]
ExecStart=/usr/bin/osconfig-platform
Type=simple
User=root

[Install]
WantedBy=multi-user.target
