# Packaging pipeline for the following distros - produces amd64/arm/arm64 packages for:
#  - Debian 9
#  - Ubuntu 18.04
#  - Ubuntu 20.04

name: $(MajorVersion).$(MinorVersion).$(PatchVersion).$(Date:yyyyMMdd)$(Rev:rr)

parameters:
  - name: performSigning
    type: boolean
    displayName: "Perform code signing"
    default: true
  - name: build_targets
    type: object
    default:
      - os: ubuntu20.04
        architecture: amd64
        platform: linux/amd64

      - os: ubuntu20.04
        architecture: arm
        platform: linux/arm/v7

      - os: ubuntu20.04
        architecture: arm64
        platform: linux/arm64/v8

      - os: ubuntu18.04
        architecture: amd64
        platform: linux/amd64

      - os: ubuntu18.04
        architecture: arm
        platform: linux/arm/v7

      - os: ubuntu18.04
        architecture: arm64
        platform: linux/arm64/v8

      - os: debian9
        architecture: amd64
        platform: linux/amd64

      - os: debian9
        architecture: arm
        platform: linux/arm/v7

      - os: debian9
        architecture: arm64
        platform: linux/arm64/v8

      - os: debian10
        architecture: amd64
        platform: linux/amd64

      - os: debian10
        architecture: arm
        platform: linux/arm/v7

      - os: debian10
        architecture: arm64
        platform: linux/arm64/v8

      - os: debian11
        architecture: amd64
        platform: linux/amd64

      - os: debian11
        architecture: arm
        platform: linux/arm/v7

      - os: debian11
        architecture: arm64
        platform: linux/arm64/v8

variables:
  SERVICE_CONNECTION: OSConfig-ACR
  CONTAINER_REGISTRY: osconfig.azurecr.io
  CONTAINER_TAG: latest

trigger:
  branches:
    include:
      - main
pr: none

stages:
  - template: stages/source_build.yaml
    parameters:
      container: $(CONTAINER_REGISTRY)/ubuntu20.04-dev-amd64:latest

  - ${{ each target in parameters.build_targets }}:
      - template: stages/binary_build.yaml
        parameters:
          os: ${{ target.os }}
          architecture: ${{ target.architecture }}
          container: ${{ target.os }}-dev-${{ target.architecture }}:$(CONTAINER_TAG)
          platform: ${{ target.platform }}

  - template: stages/binary_signing.yaml
    parameters:
      dependsOn:
        - ${{ each target in parameters.build_targets }}:
            - binary_${{ target.os }}_${{ target.architecture }}
      vaultName: $(VaultName)
      aadCertificateName: $(AADCertificateName)
      esrpCertificateName: $(ESRPCertificateName)
