name: Build Containers

on:
  push:
    branches: [main]
    paths: [./devops/docker/**/Dockerfile]

jobs:
  list-containers:
    name: List containers
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v18.7
        with:
          files: ./devops/docker/**/Dockerfile

      - id: set-matrix
        run: echo "::set-output name=matrix::$(echo -n ${{ steps.changed-files.outputs.all_changed_files }} | jq -R -s -c 'split(" ")')"

  docker:
    name: Build
    needs: list-containers
    runs-on: ubuntu-latest
    strategy:
        matrix:
            container: ${{ fromJson(needs.list-containers.outputs.matrix) }}
    steps:
      - name: Set image
        id: image
        run: |
          DOCKERFILE=${{ matrix.container }}
          echo "::set-output name=name::$(echo ${DOCKERFILE%/*}-dev)"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to ACR
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.ACR_CLIENT_ID }}
          password: ${{ secrets.ACR_CLIENT_SECRET }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.container }}
          push: true
          tags: ${{ steps.image.outputs.name }}:latest, ${{ steps.image.outputs.name }}:${{ github.run_number }}