name: Fuzzer execution

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *' # Every day at 7pm PST/4am CET
  pull_request:

jobs:
  fuzzer-execution:
    name: Fuzzer execution matrix
    uses: ./.github/workflows/fuzzing-run.yml
    strategy:
      fail-fast: false
      matrix:
        target:
          [
            { os: ubuntu, version: 22.04, package-type: DEB, container-tag: '@sha256:04d0c74948ff005746df559bad00e257ddcdf309082807da04e150ab5cd5a736' },
          ]
        arch: [amd64]
    with:
      target: ${{ matrix.target.os }}-${{ matrix.target.version }}
      arch: ${{ matrix.arch }}
      package-type: ${{ matrix.target.package-type }}
      timeout-seconds: 3600
      execute: ${{ contains(fromJSON('["workflow_dispatch", "schedule"]'), github.event_name) }}
      container-tag: ${{ matrix.target.container-tag }}
