name: Publish (insiders-fast)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *' # Every day at 8am UTC (12am PST)

jobs:
  changes:
    name: Check changes
    if: ${{ github.event_name == 'schedule' }}
    runs-on: ubuntu-latest
    outputs:
      new: ${{ steps.commits.outputs.new }}
      status: ${{ steps.last_scheduled_workflow_status.outputs.status }}
    steps:
      - uses: actions/checkout@v4

      - name: Check last commit
        id: commits
        run: |
          # If the last commit was greater than 24 hours ago, skip the build
          if [[ $(git log -1 --format=%ct) -lt $(date -d '24 hours ago' +%s) ]]; then
            echo new=false >> $GITHUB_OUTPUT
          else
            echo new=true >> $GITHUB_OUTPUT
          fi

      - name: Check last scheduled workflow status
        id: last_scheduled_workflow_status
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          # Get RUN ID of last workflow, not the current one
          last_workflow_run_id=$(gh run list --workflow='Publish (insiders-fast)' --event=schedule --limit=2 --json databaseId -q '.[1].databaseId')
          echo status=$(gh run view '$last_workflow_run_id' --json conclusion -q '.conclusion') >> $GITHUB_OUTPUT

  publish:
    name: Publish
    needs: changes
    if: |
      always() &&
      (needs.changes.outputs.new == 'true' || github.event_name == 'workflow_dispatch' || needs.changes.outputs.status != 'success')
    uses: ./.github/workflows/publish-pmc.yml
    strategy:
      matrix:
        target:
          [
            # Skip ARM64 CI builds for now
            { os: amazonlinux, version: 2, arch: amd64, dist: amazonlinux2, package-type: RPM, repo: microsoft-amazonlinux2-insiders-fast-prod-yum, container-tag: "@sha256:b4764b4edf07892f9a02c6e901eeac43bf6c883abae7df2ef76396d190107055" },
            { os: centos, version: 7, arch: amd64, dist: centos7, package-type: RPM, repo: microsoft-centos7-insiders-fast-prod-yum, container-tag: "@sha256:88a3d3275dc6bfd7d6efd2a18fe953d6ddac4f86af1d311c7a606b7cf5b37c10" },
            { os: centos, version: 8, arch: amd64, dist: centos8, package-type: RPM, repo: microsoft-centos8-insiders-fast-prod-yum, container-tag: "@sha256:c851b4a976cb34c9a8659d2219514f7ce3481fd11bcb8e86a3109040f4ff7d15" },
            { os: debian, version: 10, arch: amd64, dist: buster, package-type: DEB, repo: microsoft-debian-buster-prod-apt, container-tag: "@sha256:991e547ce9fe3db366bfe7901ec728e2dfb4dd31414fe483db78d43d92409b8f" },
            # { os: debian, version: 10, arch: arm64, dist: buster, package-type: DEB, repo: microsoft-debian-buster-prod-apt, container-tag: sha-c689eee },
            { os: debian, version: 11, arch: amd64, dist: bullseye, package-type: DEB, repo: microsoft-debian-bullseye-prod-apt, container-tag: "@sha256:2d45d6f99a517c3ceb970c21faa3cda6d9d6b34f70593cf971cec095e2d090b0" },
            # { os: debian, version: 11, arch: arm64, dist: bullseye, package-type: DEB, repo: microsoft-debian-bullseye-prod-apt, container-tag: sha-c689eee },
            { os: debian, version: 12, arch: amd64, dist: bookworm, package-type: DEB, repo: microsoft-debian-bookworm-prod-apt, container-tag: "@sha256:630feaa03825b3f319df2b09c9a0216a0a11902e923713144399357218254d2e" },
            # { os: debian, version: 12, arch: arm64, dist: bookworm, package-type: DEB, repo: microsoft-debian-bookworm-prod-apt, container-tag: sha-db3d4c8 },
            { os: mariner, version: 2, arch: amd64, dist: azurelinux, package-type: RPM, repo: cbl-mariner-2.0-preview-Microsoft-x86_64-yum, container-tag: "@sha256:18c338a157b3f22a30ac854efa7beffc8f35566d5e22177c5afbeb14802e32d6" },
            { os: rhel, version: 7, arch: amd64, dist: rhel7, package-type: RPM, repo: microsoft-rhel7.4-insiders-fast-prod-yum, container-tag: "@sha256:f081fea3fb438bdadbe37ede21ef1ccaccd6bb1a92a99e01fbee8aa270a29859" },
            { os: rhel, version: 8, arch: amd64, dist: rhel8, package-type: RPM, repo: microsoft-rhel8.0-insiders-fast-prod-yum, container-tag: "@sha256:98cc3106943b549059c126443c3dd1c9faf7e8e217b5f3feb94a8482d3a6afc6" },
            { os: rhel, version: 9, arch: amd64, dist: rhel9, package-type: RPM, repo: microsoft-rhel9.0-insiders-fast-prod-yum, container-tag: "@sha256:46cbe90ba3734b58692fa95af1414f870ef449b934cf89af84e6aa02fc3d7480" },
            { os: rockylinux, version: 9, arch: amd64, dist: rockylinux9, package-type: RPM, repo: microsoft-el9-insiders-fast-prod-yum, container-tag: "@sha256:a881fec8ac89651d3dd724761439130f96932406f70d43e2631be81307053ec5" },
            { os: sles, version: 15, arch: amd64, dist: sles15, package-type: RPM, repo: microsoft-sles15-insiders-fast-prod-yum, container-tag: "@sha256:a9ce3548af3a0fba29ee2a35471894bc3c1ef32ce5e445d5fea0a94140cc0d75" },
            { os: ubuntu, version: 20.04, arch: amd64, dist: focal, package-type: DEB, repo: microsoft-ubuntu-focal-prod-apt, container-tag: "@sha256:70a23590f03aeec76208d970d3fc73afcfa4006764ecb9867760456dae34efe4" },
            # { os: ubuntu, version: 20.04, arch: arm64, dist: focal, package-type: DEB, repo: microsoft-ubuntu-focal-prod-apt, container-tag: sha-c689eee },
            { os: ubuntu, version: 22.04, arch: amd64, dist: jammy, package-type: DEB, repo: microsoft-ubuntu-jammy-prod-apt, container-tag: "@sha256:0eed71cef37604c37186ec035974168a40a84d27e26d3b746a2858d99f305e2e" },
            # { os: ubuntu, version: 22.04, arch: arm64, dist: jammy, package-type: DEB, repo: microsoft-ubuntu-jammy-prod-apt, container-tag: sha-db3d4c8 },
            { os: ubuntu, version: 24.04, arch: amd64, dist: noble, package-type: DEB, repo: microsoft-ubuntu-noble-prod-apt, container-tag: "@sha256:0a3038b32d4b5d0f2402d576f4a96533e01e98b608eb095928e523b7ef9dfa2f" },
          ]
    with:
      target: ${{ matrix.target.os }}-${{ matrix.target.version }}
      arch: ${{ matrix.target.arch }}
      repo: ${{ matrix.target.repo }}
      dist: ${{ matrix.target.dist }}
      environment: insiders-fast
      # ESRP debian based repos (deb) have channels/rings on repos.
      # ESRP yum based repos (rpm) have no channels
      channel: ${{ matrix.target.package-type == 'DEB' && 'insiders-fast' || '' }}
      package-type: ${{ matrix.target.package-type }}
      container-tag: ${{ matrix.target.container-tag }}
    secrets: inherit
