name: Module Test

on: [workflow_dispatch]

jobs:
  test:
    name: Test
    uses: ./.github/workflows/module-test-run.yml
    strategy:
      fail-fast: false
      matrix:
        target: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04, debian-10, debian-11]
        arch: [amd64]
    with:
      target: ${{ matrix.target }}
      arch: ${{ matrix.arch }}
