name: Module Test

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '0 20 * * *' # Every day at 12pm PST (UTC-8)

jobs:
  test:
    name: Test
    uses: ./.github/workflows/module-test-run.yml
    strategy:
      fail-fast: false
      matrix:
        target:
          [
            { os: almalinux, version: 9, package-type: RPM, container-tag: "@sha256:815553327dabe2fbf52548ce48e63eb71c3982c1be6ad07fc77903cdb81da331" },
            { os: azurelinux, version: 3, package-type: RPM, container-tag: "@sha256:541935b005d65281798dcd4a8c3400650d70105afcfd5cd34dd3ecbccfec5e74" },
            { os: debian, version: 11, package-type: DEB, container-tag: "@sha256:2d45d6f99a517c3ceb970c21faa3cda6d9d6b34f70593cf971cec095e2d090b0" },
            { os: debian, version: 12, package-type: DEB, container-tag: "@sha256:630feaa03825b3f319df2b09c9a0216a0a11902e923713144399357218254d2e" },
            { os: oraclelinux, version: 8, package-type: RPM, container-tag: "@sha256:f422f0ed324b5f3fbf2e5e09275a03d7a290ec3aa24c55ea388cc50b6ccc576d" },
            { os: rhel, version: 8, package-type: RPM, container-tag: "@sha256:98cc3106943b549059c126443c3dd1c9faf7e8e217b5f3feb94a8482d3a6afc6" },
            { os: rhel, version: 9, package-type: RPM, container-tag: "@sha256:46cbe90ba3734b58692fa95af1414f870ef449b934cf89af84e6aa02fc3d7480" },
            { os: sles, version: 15, package-type: RPM, container-tag: "@sha256:a9ce3548af3a0fba29ee2a35471894bc3c1ef32ce5e445d5fea0a94140cc0d75" },
            { os: ubuntu, version: 20.04, package-type: DEB, container-tag: "@sha256:70a23590f03aeec76208d970d3fc73afcfa4006764ecb9867760456dae34efe4" },
            { os: ubuntu, version: 22.04, package-type: DEB, container-tag: "@sha256:0eed71cef37604c37186ec035974168a40a84d27e26d3b746a2858d99f305e2e" },
            { os: ubuntu, version: 24.04, package-type: DEB, container-tag: "@sha256:0a3038b32d4b5d0f2402d576f4a96533e01e98b608eb095928e523b7ef9dfa2f" },
          ]
        arch: [amd64]
    with:
      target: ${{ matrix.target.os }}-${{ matrix.target.version }}
      arch: ${{ matrix.arch }}
      package-type: ${{ matrix.target.package-type }}
      excluded-tests: ${{ matrix.target.excluded-tests }}
      container-tag: ${{ matrix.target.container-tag }}

  # Needed for required checks to aggregate the results of all module test executions
  module-test-status:
    runs-on: ubuntu-latest
    needs: [test]
    if: always()
    steps:
      - run: ${{!contains(needs.*.result, 'failure')}}
