name: Module Test

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '0 20 * * *' # Every day at 12pm PST (UTC-8)

jobs:
  test:
    name: Test
    uses: ./.github/workflows/module-test-run.yml
    strategy:
      fail-fast: false
      matrix:
        target:
          [
            { os: almalinux, version: 9, package-type: RPM, container-tag: "@sha256:4b939b0a50c007c9886e216bab5b9342120f65bcf02ddd95ac730180fe976c9b" },
            { os: azurelinux, version: 3, package-type: RPM, container-tag: "@sha256:57c5bd226dfca2b692e2c7aeb3cb8092413d2603246aa516d0438b4592210109" },
            { os: debian, version: 11, package-type: DEB, container-tag: "@sha256:e44fc64d1d92f523fae302112eaea6a695cc3963719a8434247d0283bbba59bc" },
            { os: debian, version: 12, package-type: DEB, container-tag: "@sha256:d7cc88bcc11041dfcc02024f2f89c64e01458ee0054ab5caecb63fa2325b5ed0" },
            { os: oraclelinux, version: 8, package-type: RPM, container-tag: "@sha256:4aab402b38a8e455cf02595da737c9e81c4877c202687c5bfe32483922d99b89" },
            { os: rhel, version: 8, package-type: RPM, container-tag: "@sha256:b01a5fbd1f58843550aa39fdd6928b01d1642cd91fe928a323336ffc491c0dce" },
            { os: rhel, version: 9, package-type: RPM, container-tag: "@sha256:8675a833d0135e10b7e2a9c1a136db2b643a093b22118aba7c9615de90fb0c85" },
            { os: sles, version: 15, package-type: RPM, container-tag: "@sha256:e4b36f00fdcd9892f19a118f0b7ca6781c368d086ae37e4ebc93ea23a9dd7327" },
            { os: ubuntu, version: 20.04, package-type: DEB, container-tag: "@sha256:544b65bc43c6f1cbd3d9bc0c0085d64ccb1c7c6a9a7d82497a9edc166faa8677" },
            { os: ubuntu, version: 22.04, package-type: DEB, container-tag: "@sha256:04d0c74948ff005746df559bad00e257ddcdf309082807da04e150ab5cd5a736" },
            { os: ubuntu, version: 24.04, package-type: DEB, container-tag: "@sha256:7ac74b5fbe9bce992322cf1ce2c9d095b02ad82ce3aaab2ad0cb795c872a524b" },
          ]
        arch: [amd64]
    with:
      target: ${{ matrix.target.os }}-${{ matrix.target.version }}
      arch: ${{ matrix.arch }}
      package-type: ${{ matrix.target.package-type }}
      excluded-tests: ${{ matrix.target.excluded-tests }}
      container-tag: ${{ matrix.target.container-tag }}
