name: Build Azure Policy Packages

on:
  workflow_dispatch:

jobs:
  package:
    name: Package
    uses: ./.github/workflows/package-build.yml
    strategy:
      matrix:
        target:
          [
            { os: ubuntu, version: 14.04, arch: amd64, dist: trusty, package-type: DEB, tag: "@sha256:49f34a36780ee52c0b800c1035097e51e59293c8b725d4f94114a491065e0c2a" },
          ]
    secrets:
      onedstenant: >-
        ${{
          (github.ref == 'refs/heads/main' && secrets.ONEDS_TENANT_PROD) ||
          (github.ref == 'refs/heads/dev' && secrets.ONEDS_TENANT_NONPROD) ||
          ''
        }}
    with:
      target: ${{ matrix.target.os }}-${{ matrix.target.version }}
      arch: ${{ matrix.target.arch }}
      container-tag: ${{ matrix.target.tag }}
      artifact: policy-packages
      machine-config: true
      release: true
